// colors

$color-1: #332f3e; // Psychopomp Charcoal
$color-2: #f9004f; // Psychopomp Red
$color-3: #ffffff; // White

// fonts

$display-font: 'Montserrat', sans-serif;
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Merriweather', serif;


// animation

$animation-duration: 0.7s;