@import 'jeet'

/* --------------------------------

Custom Styling

-------------------------------- */

/* =================================================
   1. Utilities - These things get used a lot
   ================================================= */

/* Variables : Colors
================================================== */

/* Psychopomp */
psycho-black        = rgba(51, 47, 62, 1)
psycho-grey         = rgba(230, 230, 230, 1)
psycho-grey-light   = rgba(217, 217, 217, 1)
psycho-pink         = rgba(249, 10, 79, 1)
psycho-teal         = rgba(128, 200, 181, 1)
psycho-yellow       = rgba(255, 238, 0, 1)

/* Stack Tags */
bootstrap-purple   = rgb(111, 84, 153)
bootstrap-lavendar = rgb(205, 191, 227)
buddypress-orange  = #D84800
buddypress-black   = rgb(34, 34, 34)
express-black      = rgb(53, 53, 53)
express-grey       = rgb(238, 238, 238)
keystone-blue      = rgb(52, 141, 217)
semantic-teal      = rgb(0, 181, 173)
wordpress-blue     = rgb(33, 117, 155)
woocommerce-purple = #A46497
woocommerce-grey   = #F7F7F7

/* Variables : Typography
================================================== */
psycho-display  = "Montserrat", sans-serif
psycho-sans     = "Lato", sans-serif
psycho-serif    = "Merriweather", serif

/* --------------------------------

Scotch.IO Labels CSS

-------------------------------- */
/*
.card .stack-tags
  opacity .5
  font-size 14px
  position absolute
  bottom 0
  right 0
  -webkit-transition .3s ease all
  transition .3s ease all

.card .stack-tags .labels span
  display inline-block
  padding 3px 8px
  color black
  -webkit-transition .3s ease all
  transition .3s ease all
*/

/*******************************
             Fixes
*******************************/
// // Clear borders
// .ui.cards > .card > .extra, .ui.card > .extra
//   border none
//   border-top none
// // Clear native Semantic-UI stlyes
// .ui.cards > .card > .extra,
// .card .stack-tags .labels
//   margin 0 !important
//   padding 0 !important
// // Clear label corners
// .card .labels .ui.label
//   -webkit-border-radius 0
//   border-radius 0

/*******************************
        Stack Labels
*******************************/
.card .stack-tags .labels .label
  margin 0 !important
  display inline-block
  bottom 0
  float right
  -webkit-transition .3s ease all
  transition .3s ease all

.card .stack-tags .labels .label:last-child
  border-top-left-radius 5px

.card .stack-tags .tag-bootstrap
  background bootstrap-purple
  color bootstrap-lavendar

.card .stack-tags .tag-buddypress
  background buddypress-orange
  color buddypress-black

.card .stack-tags .tag-express
  background express-grey
  color express-black

.card .stack-tags .tag-ghost
  background #718087
  color #212425

.card .stack-tags .tag-javascript
  background #FAC552
  color #AE7905

.card .stack-tags .tag-keystone
  background keystone-blue
  color white

.card .stack-tags .tag-node
  background #80BD01
  color #D9FE8C

.card .stack-tags .tag-semantic
  background semantic-teal
  color white

.card .stack-tags .tag-wordpress
  background wordpress-blue
  color white

.card .stack-tags .tag-woocommerce
  background woocommerce-purple
  color woocommerce-grey

.card .meta-tags a:hover
  color #FFF

/*******************************
        Semantic UI
*******************************/
/*******************************
             Icon
*******************************/
@font-face
  font-family 'Icons'
  src url("../fonts/icons.eot")
  src url("../fonts/icons.eot?#iefix") format('embedded-opentype'), url("../fonts/icons.woff2") format('woff'), url("../fonts/icons.woff") format('woff'), url("../fonts/icons.ttf") format('truetype'), url("../fonts/icons.svg#icons") format('svg')
  font-style normal
  font-weight normal
  font-variant normal
  text-decoration inherit
  text-transform none

/* --------------------------------

FlowType CSS

-------------------------------- */
html
  font-size 62.5%

body
  font-size 16px // formerly 2.4em

h2
  font-size 4.2rem

h2.section-title
  font-family psycho-sans
  text-transform uppercase !important
  font-weight 300

h6
  font-family psycho-sans
  font-size 3.6rem

h6.title
  color psycho-pink !important
  font-family psycho-display !important
  font-size 3.6rem
  text-transform uppercase !important

h6.education-heading,
.education-heading
  font-family psycho-display
  font-weight 900
  font-size 3.6rem
  text-transform uppercase

h6.education-body,
h6.education-body
  font-weight 300
  font-size 3.6rem

/* Sections */
/* Proficiencies */
// Line item proficiency
.proficiencies .content .header
  font-size 3.6rem
  line-height 1.7
  font-weight 300 !important


/*******************************
            Mobile
*******************************/
@media screen and (max-width: 800px)
  .contact-address,
  .contact-info
    stack()
  .contact-info li
    text-align left

  #epigraph-name,
  #epigraph-title
    col(1/1, cycle: 1)
  .epigraph-verso,
  .epigraph-recto
    stack()
  .epigraph-recto
    display none
  .epigraph-apocrypha
    display block

  main.main-homepage
    padding 50px 0 0

  #profile-photo
    center()
    max-width 75%

  #top-menu
    display none
  #mobile-menu
    display block

  #mobile-menu .ui.list > .item:last-child
    padding-bottom 4rem

  .mobile-menu-trigger
    position absolute
    top 3rem
    right 3rem
  #mobile-menu .mobile-menu-item a
    center()
  #mobile-menu a
    color psycho-black
    font-size 3rem
    font-weight bold
    padding-top 2rem
    padding-right 2rem
    padding-bottom 2rem
    padding-left 2rem
    text-align center
    text-transform uppercase
  #mobile-menu .mobile-menu-item a:hover
    color psycho-teal !important

  #mobile-menu .page-container
    padding-bottom 0

  /* Section Globals */
  h2.section-title
    font-size 3rem

  /* Experience & Education */
  #experience .row
    margin-bottom 0

  .experience-tasks h6.education-body
    font-size 1.8rem
    margin-top 2rem
    margin-bottom 3rem

  h6.education-heading,
  .education-heading
    font-family psycho-display
    font-weight 900
    font-size 2.6rem
    text-transform uppercase

  h6.education-body,
  h6.education-body
    font-weight 300
    font-size 2.6rem

  /* Proficiencies */
  .proficiencies h6.title
    font-size 2.4rem !important

  .ui .list .item
    padding-left 1rem
    padding-right 1rem
    font-size 1rem

  .ui .list .item .header
    font-size 2rem

  /* Contact */
  #contact h6
    font-size 2rem
    line-height 3.6rem

  /* Modals */
  .actions .ui.inverted.buttons a
    font-size 1.6rem
  .stack-heading
    font-size 2.6rem
  .ui.massive.red.label
    margin-bottom 1rem

/* --------------------------------

Slabtext CSS

-------------------------------- */
.slabtexted .slabtext
  display -moz-inline-box
  display inline-block
  white-space nowrap

.slabtextinactive .slabtext
  display inline
  white-space normal
  font-size 1em !important
  letter-spacing:inherit !important
  word-spacing inherit !important
  *letter-spacing:0 !important
  *word-spacing:0 !important

.slabtextdone .slabtext
  display block